/* Pour le menu 1 */
/* Pour le menu 2 */
/* Pour le menu 3 */
/* Pour le menu 4 */
header {
  width: 100%;
  color: #fdcb46;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: bold;
  background-color: #579c87;
  margin-top: -45px; }

footer {
  width: 100%;
  position: fixed;
  right: 0px;
  bottom: 0px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: #579c87;
  z-index: 2; }

/* Version Mobile et tablette */
@media all and (max-width: 767px) {
  footer {
    height: 60px;
    font-size: 1rem;
    text-align: center; } }
main {
  width: 60%;
  text-align: justify;
  margin: auto; }

.main1 {
  width: 60%; }

.G_M1 {
  width: 100%; }

.M_Menu {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
  .M_Menu__num {
    margin-bottom: 150px;
    padding: 40px;
    box-shadow: 0px 0px 10px #c9c9c9; }
  .M_Menu__num--1 {
    background-color: #fcdfdb;
    font-family: 'Kalam', cursive;
    color: #3d1319; }
  .M_Menu__num--2 {
    background-color: #fff5fe; }
  .M_Menu__num--3 {
    background-color: #f9f9f9;
    font-family: 'Kalam', cursive; }
  .M_Menu__num--4 {
    background-color: #fdfffd;
    font-family: 'Kalam', cursive; }

.la_note {
  text-align: center;
  margin-top: -15px; }

.note_size1 {
  font-size: 4rem;
  margin-bottom: -40px; }

.titre_menu_1 {
  font-size: 2rem;
  font-family: 'Devonshire', cursive; }

.box_barres {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px; }

.intitule1 {
  position: relative; }

.intitule1:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #3d1319;
  visibility: hidden;
  transition: all 0.3s ease-in-out; }

.intitule1:hover:before {
  visibility: visible;
  width: 100%; }

.barre_G1 {
  width: 200px;
  height: 50px;
  margin-top: 5px; }

.barre_D1 {
  width: 200px;
  height: 50px;
  margin-top: 5px; }

.entrees, .plats_principaux, .desserts {
  font-size: 1.5rem;
  width: 100%; }

.noms {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0px 25px;
  margin-top: -20px; }

.plat {
  margin-bottom: 30px;
  text-align: left; }

.prix {
  margin-bottom: 30px;
  margin-left: 10px;
  font-weight: bold; }

.fin {
  display: inline-flex;
  padding-top: 20px;
  font-family: 'Devonshire', cursive;
  font-size: 1.5rem; }

.note_size_small {
  font-size: 2.5rem;
  padding-top: 25px;
  padding-right: 15px; }

/* Desktop 1440 */
@media all and (max-width: 1440px) {
  .main1 {
    width: 70%; }

  .G_M1 {
    width: 100%; } }
/* Desktop 1024 */
@media all and (max-width: 1339px) {
  .main1 {
    width: 90%; }

  .box_barres {
    margin-bottom: 20px; }

  .barre_G1 {
    width: 170px;
    height: 40px;
    margin-top: 5px; }

  .barre_D1 {
    width: 170px;
    height: 40px;
    margin-top: 5px; }

  .titre_menu_1 {
    font-size: 1.5rem; }

  .entrees, .plats_principaux, .desserts {
    font-size: 1rem; }

  .noms {
    font-size: 0.9090909091rem; } }
/* Version tablette */
@media all and (max-width: 768px) {
  .noms {
    flex-direction: column; }

  .plat {
    margin-bottom: 30px;
    text-align: center; }

  .prix {
    margin-bottom: 40px;
    margin-top: -25px;
    margin-left: 0px;
    font-weight: bold; }

  .main1 {
    width: 90%; }

  .barre_G1 {
    width: 110px;
    height: 25px;
    margin-top: 5px; }

  .barre_D1 {
    width: 110px;
    height: 25px;
    margin-top: 5px; } }
/* Version mobile */
@media all and (max-width: 767px) {
  .M_Menu {
    width: 80%;
    padding: 5px; }

  .main1 {
    width: 100%; }

  .note_size1 {
    font-size: 2.6666666667rem;
    margin-bottom: -35px; }

  .titre_menu_1 {
    font-size: 1.5rem; }

  .barre_G1 {
    width: 65px;
    height: 20px;
    margin-top: 5px; }

  .barre_D1 {
    width: 65px;
    height: 20px;
    margin-top: 5px; }

  .entrees, .plats_principaux, .desserts {
    font-size: 1rem; }

  .noms {
    font-size: 0.8333333333rem; }

  .fin {
    padding-top: 0px;
    margin-top: -20px;
    font-size: 1rem; }

  .note_size_small {
    font-size: 2rem;
    padding-top: 15px;
    padding-right: 15px; } }
.G_M2 {
  font-family: 'Playfair Display', serif; }

.le_chic {
  text-align: center;
  margin-top: -15px; }

.titre_menu_2 {
  font-size: 2rem;
  font-family: 'Amita', cursive;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #e38a12), color-stop(0.85, #8f5aff));
  background-image: gradient(linear, left top, right top, color-stop(0, #e38a12), color-stop(0.85, #8f5aff));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text; }

.box_barres2 {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; }

.entrees2, .plats_principaux2, .desserts2 {
  font-size: 1.2rem;
  width: 100%; }

.entrees2 {
  color: #c67412; }

.plats_principaux2 {
  color: #a56799; }

.desserts2 {
  color: #6e4ccc; }

.intitule2 {
  position: relative;
  padding-bottom: 5px; }

.intitule2:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(217deg, #8f5aff, #ed8c18 70.71%);
  visibility: hidden;
  transition: all 0.3s ease-in-out; }

.intitule2:hover:before {
  visibility: visible;
  width: 100%; }

.barre_G2 {
  width: 150px;
  height: 10px;
  margin-top: 5px;
  padding-bottom: 5px; }

.barre_D2 {
  width: 150px;
  height: 10px;
  margin-top: 5px;
  padding-bottom: 5px; }

/* Desktop 1440 */
@media all and (max-width: 1440px) {
  .G_M2 {
    width: 100%; }

  .barre_G2 {
    width: 140px;
    height: 10px;
    margin-top: 5px; }

  .barre_D2 {
    width: 140px;
    height: 10px;
    margin-top: 5px; } }
/* Desktop 1024 */
@media all and (max-width: 1339px) {
  .box_barres2 {
    margin-bottom: 20px; }

  .barre_G2 {
    width: 120px;
    height: 10px;
    margin-top: 5px; }

  .barre_D2 {
    width: 120px;
    height: 10px;
    margin-top: 5px; }

  .titre_menu_2 {
    font-size: 1.5rem; }

  .entrees2, .plats_principaux2, .desserts2 {
    font-size: 1rem; } }
/* Version tablette */
@media all and (max-width: 768px) {
  .entrees2, .plats_principaux2, .desserts2 {
    font-size: 1rem; }

  .barre_G2 {
    width: 80px;
    height: 6px;
    margin-top: 5px; }

  .barre_D2 {
    width: 80px;
    height: 6px;
    margin-top: 5px; } }
/* Version mobile */
@media all and (max-width: 767px) {
  .titre_menu_2 {
    font-size: 1.5rem; }

  .barre_G2 {
    width: 50px;
    height: 5px;
    margin-top: 5px; }

  .barre_D2 {
    width: 50px;
    height: 5px;
    margin-top: 5px; }

  .entrees2, .plats_principaux2, .desserts2 {
    font-size: 1rem; }

  .noms {
    font-size: 0.8333333333rem; } }
/*.G_M3
{
	@include font-color_m3v();	
}*/
.le_delice {
  text-align: center;
  margin-top: -15px; }

.titre_menu_3 {
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #0229dd), color-stop(0.85, #2c99fb));
  background-image: gradient(linear, left top, right top, color-stop(0, #0229dd), color-stop(0.85, #2c99fb));
  color: transparent;
  background-clip: text; }

.intitule3 {
  position: relative; }

.intitule3:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(217deg, #2c99fb, #0229dd 70.71%);
  visibility: hidden;
  transition: all 0.3s ease-in-out; }

.intitule3:hover:before {
  visibility: visible;
  width: 100%; }

.barre_G3 {
  width: 170px;
  height: 50px;
  margin-top: 5px; }

.barre_D3 {
  width: 170px;
  height: 50px;
  margin-top: 5px; }

/* Desktop 1440 */
@media all and (max-width: 1440px) {
  .G_M3 {
    width: 100%; }

  .barre_G3 {
    width: 140px;
    height: 40px;
    margin-top: 5px; }

  .barre_D3 {
    width: 140px;
    height: 40px;
    margin-top: 5px; } }
/* Desktop 1024 */
@media all and (max-width: 1339px) {
  .box_barres {
    margin-bottom: 20px; }

  .barre_G3 {
    width: 145px;
    height: 35px;
    margin-top: 5px; }

  .barre_D3 {
    width: 145px;
    height: 35px;
    margin-top: 5px; }

  .titre_menu_3 {
    font-size: 1.5rem; } }
/* Version tablette */
@media all and (max-width: 768px) {
  .barre_G3 {
    width: 100px;
    height: 25px;
    margin-top: 5px; }

  .barre_D3 {
    width: 100px;
    height: 25px;
    margin-top: 5px; } }
/* Version mobile */
@media all and (max-width: 767px) {
  .titre_menu_3 {
    font-size: 1.5rem; }

  .barre_G3 {
    width: 70px;
    height: 20px;
    margin-top: 5px; }

  .barre_D3 {
    width: 70px;
    height: 20px;
    margin-top: 5px; }

  .entrees, .plats_principaux, .desserts {
    font-size: 1rem; }

  .noms {
    font-size: 0.8333333333rem; } }
/*.G_M4
{
	@include font-color_m4v();
}*/
.la_palette {
  text-align: center;
  margin-top: -15px; }

.titre_menu_4 {
  font-size: 2rem;
  font-family: 'Kaushan Script', cursive;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #3e923a), color-stop(0.85, #beff7f));
  background-image: gradient(linear, left top, right bottom, color-stop(0, #3e923a), color-stop(0.85, #beff7f));
  color: transparent;
  background-clip: text; }

.intitule4 {
  position: relative; }

.intitule4:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(0.25turn, #beff7f, #3e923a, #beff7f);
  visibility: hidden;
  transition: all 0.3s ease-in-out; }

.intitule4:hover:before {
  visibility: visible;
  width: 100%; }

.barre_G4 {
  width: 180px;
  height: 50px;
  margin-top: 5px; }

.barre_D4 {
  width: 180px;
  height: 50px;
  margin-top: 5px; }

/* Desktop 1440 */
@media all and (max-width: 1440px) {
  .G_M4 {
    width: 100%; }

  .barre_G4 {
    width: 155px;
    height: 40px;
    margin-top: 5px; }

  .barre_D4 {
    width: 155px;
    height: 40px;
    margin-top: 5px; } }
/* Desktop 1024 */
@media all and (max-width: 1339px) {
  .box_barres {
    margin-bottom: 20px; }

  .barre_G4 {
    width: 160px;
    height: 35px;
    margin-top: 5px; }

  .barre_D4 {
    width: 160px;
    height: 35px;
    margin-top: 5px; }

  .titre_menu_4 {
    font-size: 1.5rem; } }
/* Version tablette */
@media all and (max-width: 768px) {
  .barre_G4 {
    width: 105px;
    height: 25px;
    margin-top: 5px; }

  .barre_D4 {
    width: 105px;
    height: 25px;
    margin-top: 5px; } }
/* Version mobile */
@media all and (max-width: 767px) {
  .titre_menu_4 {
    font-size: 1.5rem; }

  .barre_G4 {
    width: 75px;
    height: 20px;
    margin-top: 5px; }

  .barre_D4 {
    width: 75px;
    height: 20px;
    margin-top: 5px; }

  .entrees, .plats_principaux, .desserts {
    font-size: 1rem; }

  .noms {
    font-size: 0.8333333333rem; } }
/* Version Desktop */
body {
  margin: 0px; }

h1 {
  padding: 10px;
  font-size: 4rem; }

p {
  padding-right: 20px;
  padding-left: 20px; }

a {
  color: #fdcb46;
  text-decoration: none; }

main {
  width: 60%; }

.note_size {
  font-size: 4rem;
  margin-bottom: -40px; }

.fa-music {
  text-align: center; }

.fa-color {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #e3515d), color-stop(0.85, #fda07c));
  background-image: gradient(linear, left top, right top, color-stop(0, #e3515d), color-stop(0.85, #fda07c));
  color: transparent;
  background-clip: text; }

.menus {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto; }
  .menus__menu {
    width: 320px;
    height: 420px;
    margin: 30px;
    box-shadow: 0px 0px 10px #c9c9c9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #fcdfdb;
    background-color: #fcdfdb;
    font-family: 'Devonshire', cursive;
    color: #3d1319; }
  .menus__menu--2 {
    border: solid 1px #fff5fe;
    background-color: #fff5fe;
    font-family: 'Amita', cursive;
    color: #c77412; }
  .menus__menu--3 {
    border: solid 1px #f9f9f9;
    background-color: #f9f9f9;
    font-family: 'Dancing Script', cursive;
    color: #0887fb; }
  .menus__menu--4 {
    border: solid 1px #fdfffd;
    background-color: #fdfffd;
    font-family: 'Kaushan Script', cursive;
    color: #7bc361; }

.anim_menu {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(1);
  transition: transform 400ms; }
  .anim_menu:hover {
    transform: scale(1.15); }

.c_font2 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #e38a12), color-stop(0.85, #8f5aff));
  background-image: gradient(linear, left top, right top, color-stop(0, #e38a12), color-stop(0.85, #8f5aff));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text; }

.c_font3 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #0229dd), color-stop(0.85, #2c99fb));
  background-image: gradient(linear, left top, right top, color-stop(0, #0229dd), color-stop(0.85, #2c99fb));
  color: transparent;
  background-clip: text; }

.c_font4 {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #3e923a), color-stop(0.85, #beff7f));
  background-image: gradient(linear, left top, right bottom, color-stop(0, #3e923a), color-stop(0.85, #beff7f));
  color: transparent;
  background-clip: text; }

.m_font1 {
  font-family: 'Kalam', cursive;
  font-size: 2rem;
  margin-top: -10px;
  margin-bottom: 10px; }

.m_font2 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin-top: -15px;
  margin-bottom: 10px; }

.soon {
  width: 280px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 100px;
  background-color: #579c87;
  border-radius: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .soon__prochainement {
    font-size: 1.5rem;
    color: #fdcb46; }

/* Version tablette */
@media all and (max-width: 1024px) {
  .menus {
    width: 100%; }
    .menus__menu {
      width: 245px;
      height: 350px;
      align-items: center; }

  .soon {
    margin-bottom: 100px;
    width: 240px; } }
/* Version mobile */
@media all and (max-width: 767px) {
  .soon {
    margin-bottom: 80px;
    width: 180px;
    height: 35px; }
    .soon__prochainement {
      font-size: 1rem; } }

/*# sourceMappingURL=main.css.map */
