@charset "UTF-8";
/* Couleurs des header et footer */
/* Couleurs des fonds pour les menus */
/* Couleurs des polices pour le mot "menu" */
/* Couleurs pour la note de musique */
/* Couleurs pour les gradients */
/* Couleurs spécifiques au menu2 */
/* Pour le menu 1 */
/* Pour le menu 2 */
/* Pour le menu 3 */
/* Pour le menu 4 */
/* Version Desktop */
body {
  margin: 0px; }

h1 {
  padding: 10px;
  font-size: 4rem; }

p {
  padding-right: 20px;
  padding-left: 20px; }

a {
  color: #fdcb46;
  text-decoration: none; }

main {
  width: 60%; }

.note_size {
  font-size: 4rem;
  margin-bottom: -40px; }

.fa-music {
  text-align: center; }

.fa-color {
  background: #e3515d;
  background: -webkit-linear-gradient(to left, #fda07c, #e3515d);
  background: linear-gradient(to left, #fda07c, #e3515d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.menus {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  padding-top: 50px; }
  .menus__menu {
    width: 420px;
    height: 550px;
    margin: 30px;
    box-shadow: 0px 0px 10px #c9c9c9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #fcdfdb;
    background-color: #fcdfdb;
    font-family: 'Devonshire', cursive;
    color: #3d1319; }
  .menus__menu--2 {
    border: solid 1px #fff5fe;
    background-color: #fff5fe;
    font-family: 'Amita', cursive;
    font-size: 1rem;
    color: #c77412; }
  .menus__menu--3 {
    border: solid 1px #f9f9f9;
    background-color: #f9f9f9;
    font-family: 'Dancing Script', cursive;
    color: #0887fb; }
  .menus__menu--4 {
    border: solid 1px #fdfffd;
    background-color: #fdfffd;
    font-family: 'Kaushan Script', cursive;
    color: #7bc361; }

.anim_menu {
  width: 420px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(1);
  transition: all 400ms;
  opacity: 1; }
  .anim_menu:hover {
    transform: scale(1.15);
    opacity: 0.6; }

.c_font2 {
  background: #ed8c18;
  background: -webkit-linear-gradient(to left, #8f5aff, #ed8c18);
  background: linear-gradient(to left, #8f5aff, #ed8c18);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.c_font3 {
  background: #0229dd;
  background: -webkit-linear-gradient(to left, #2c99fb, #2c99fb, #0229dd);
  background: linear-gradient(to left, #2c99fb, #2c99fb, #0229dd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.c_font4 {
  background: #3e923a;
  background: -webkit-linear-gradient(to left, #beff7f, #3e923a);
  background: linear-gradient(to left, #beff7f, #3e923a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.m_font1 {
  font-family: 'Kalam', cursive;
  font-size: 2rem;
  margin-top: -10px;
  margin-bottom: 10px; }

.m_font2 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin-top: -15px;
  margin-bottom: 10px; }

.soon {
  width: 280px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 100px;
  background-color: #579c87;
  border-radius: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .soon__prochainement {
    font-size: 1.5rem;
    color: #fdcb46; }

.dots {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both; }

.dots:nth-child(2) {
  animation-delay: .2s; }

.dots:nth-child(3) {
  animation-delay: .4s; }

@keyframes blink {
  0% {
    opacity: 0.1; }
  20% {
    opacity: 1; }
  100% {
    opacity: 0.1; } }
.mentions {
  text-align: center; }

.mentions-text {
  margin-bottom: 100px; }

/* Version desktop */
@media all and (min-width: 1440px) and (max-width: 1660px) {
  .menus {
    width: 100%; }
    .menus__menu {
      width: 370px;
      height: 500px;
      align-items: center; }

  .anim_menu {
    width: 370px;
    height: 500px; }

  .soon {
    margin-bottom: 100px;
    width: 240px; } }
/* Version tablette */
@media all and (max-width: 1024px) {
  .menus {
    width: 100%; }
    .menus__menu {
      width: 245px;
      height: 350px;
      align-items: center; }

  .anim_menu {
    width: 245px;
    height: 350px; }

  .soon {
    margin-bottom: 100px;
    width: 240px; } }
/* Version mobile */
@media all and (max-width: 767px) {
  h1 {
    font-size: 3.0769230769rem; }

  .soon {
    margin-bottom: 80px;
    width: 180px;
    height: 35px; }
    .soon__prochainement {
      font-size: 1rem; }

  .menus {
    padding-top: 30px; }
    .menus__menu--2 {
      font-size: 0.8rem; } }
header {
  width: 100%;
  height: 100px;
  color: #fdcb46;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  background-color: #579c87;
  margin: auto; }

/* Version mobile */
@media all and (max-width: 767px) {
  header {
    height: 80px; } }
footer {
  width: 100%;
  position: fixed;
  right: 0px;
  bottom: 0px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: #579c87;
  z-index: 2; }

.wiggle:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out; }

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(2deg); }
  25% {
    -webkit-transform: rotate(-2deg); }
  50% {
    -webkit-transform: rotate(3deg); }
  75% {
    -webkit-transform: rotate(-3deg); }
  100% {
    -webkit-transform: rotate(0deg); } }
@-ms-keyframes wiggle {
  0% {
    -ms-transform: rotate(1deg); }
  25% {
    -ms-transform: rotate(-1deg); }
  50% {
    -ms-transform: rotate(1deg); }
  75% {
    -ms-transform: rotate(-1deg); }
  100% {
    -ms-transform: rotate(0deg); } }
@keyframes wiggle {
  0% {
    transform: rotate(2deg); }
  25% {
    transform: rotate(-2deg); }
  50% {
    transform: rotate(3deg); }
  75% {
    transform: rotate(-3deg); }
  100% {
    transform: rotate(0deg); } }
/* Version Mobile et tablette */
@media all and (max-width: 767px) {
  footer {
    height: 60px;
    font-size: 1rem;
    text-align: center; } }
main {
  width: 60%;
  text-align: justify;
  margin: auto; }

.main1 {
  width: 100%; }

.G_M1 {
  width: 100%; }

.M_Menu {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 40px; }
  .M_Menu__num {
    margin-bottom: 150px;
    box-shadow: 0px 0px 10px #c9c9c9; }
  .M_Menu__num--1 {
    background-color: #fcdfdb;
    font-family: 'Kalam', cursive;
    color: #3d1319; }
  .M_Menu__num--2 {
    background-color: #fff5fe; }
  .M_Menu__num--3 {
    background-color: #f9f9f9;
    font-family: 'Kalam', cursive; }
  .M_Menu__num--4 {
    background-color: #fdfffd;
    font-family: 'Kalam', cursive; }

.la_note {
  text-align: center;
  margin-top: 35px; }

.note_size1 {
  font-size: 4rem;
  margin-bottom: -40px; }

.titre_menu_1 {
  font-size: 2rem;
  font-family: 'Devonshire', cursive; }

.box_barres {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px; }

.intitule1 {
  position: relative; }

.intitule1:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #3d1319;
  visibility: hidden;
  transition: all 0.3s ease-in-out; }

.intitule1:hover:before {
  visibility: visible;
  width: 100%; }

.barre_G1 {
  width: 360px;
  height: 50px;
  margin-top: 5px; }

.barre_D1 {
  width: 360px;
  height: 50px;
  margin-top: 5px; }

.entrees, .plats_principaux, .desserts {
  font-size: 1.5rem;
  width: 100%; }

.noms {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0px 35px;
  margin-top: -20px; }

.plat {
  margin-bottom: 30px;
  text-align: left; }

.prix {
  margin-bottom: 30px;
  margin-left: 10px;
  font-weight: bold; }

.fin {
  display: inline-flex;
  padding-top: 20px;
  font-family: 'Devonshire', cursive;
  font-size: 1.5rem; }

.note_size_small {
  font-size: 2.5rem;
  padding-top: 25px;
  padding-right: 15px; }

/* Desktop */
@media all and (min-width: 1600px) and (max-width: 1900px) {
  .main1 {
    width: 100%; }

  .G_M1 {
    width: 100%; }

  .barre_G1 {
    width: 340px;
    height: 40px;
    margin-top: 5px; }

  .barre_D1 {
    width: 340px;
    height: 40px;
    margin-top: 5px; } }
/* Desktop mid */
@media all and (min-width: 1440px) and (max-width: 1599px) {
  .main1 {
    width: 100%; }

  .G_M1 {
    width: 100%; }

  .barre_G1 {
    width: 260px;
    height: 40px;
    margin-top: 5px; }

  .barre_D1 {
    width: 260px;
    height: 40px;
    margin-top: 5px; } }
/* Desktop small */
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .main1 {
    width: 100%; }

  .box_barres {
    margin-bottom: 20px; }

  .barre_G1 {
    width: 250px;
    height: 40px;
    margin-top: 5px; }

  .barre_D1 {
    width: 250px;
    height: 40px;
    margin-top: 5px; } }
/* Desktop XS */
@media all and (min-width: 1024px) and (max-width: 1279px) {
  .box_barres {
    margin-bottom: 20px; }

  .barre_G1 {
    width: 200px;
    height: 40px;
    margin-top: 5px; }

  .barre_D1 {
    width: 200px;
    height: 40px;
    margin-top: 5px; }

  .noms {
    font-size: 0.9090909091rem;
    padding: 0px 35px; } }
/* Version tablette */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .noms {
    flex-direction: column;
    font-size: 0.8333333333rem;
    padding: 0px 30px; }

  .plat {
    margin-bottom: 30px;
    text-align: center; }

  .prix {
    margin-bottom: 40px;
    margin-top: -25px;
    margin-left: 0px;
    font-weight: bold; }

  .barre_G1 {
    width: 155px;
    height: 25px;
    margin-top: 5px; }

  .barre_D1 {
    width: 155px;
    height: 25px;
    margin-top: 5px; }

  .entrees, .plats_principaux, .desserts {
    font-size: 1rem; }

  .fin {
    padding-top: 0px;
    margin-top: -20px;
    font-size: 1rem; }

  .note_size_small {
    font-size: 2rem;
    padding-top: 15px;
    padding-right: 15px; } }
/* Version tablette mid */
@media all and (min-width: 651px) and (max-width: 767px) {
  .M_Menu {
    width: 80%;
    padding: 5px; }

  .note_size1 {
    font-size: 2.8571428571rem;
    margin-bottom: -35px; }

  .titre_menu_1 {
    font-size: 1.5rem; }

  .barre_G1 {
    width: 220px;
    height: 20px;
    margin-top: 5px; }

  .barre_D1 {
    width: 220px;
    height: 20px;
    margin-top: 5px; }

  .entrees, .plats_principaux, .desserts {
    font-size: 1rem; } }
/* Version tablette small */
@media all and (min-width: 551px) and (max-width: 650px) {
  .M_Menu {
    width: 80%;
    padding: 5px; }

  .note_size1 {
    font-size: 2.8571428571rem;
    margin-bottom: -35px; }

  .titre_menu_1 {
    font-size: 1.5rem; }

  .barre_G1 {
    width: 180px;
    height: 20px;
    margin-top: 5px; }

  .barre_D1 {
    width: 180px;
    height: 20px;
    margin-top: 5px; }

  .entrees, .plats_principaux, .desserts {
    font-size: 1rem; } }
/* Version mobile */
@media all and (min-width: 425px) and (max-width: 550px) {
  .M_Menu {
    width: 80%;
    padding: 5px; }

  .note_size1 {
    font-size: 2.6666666667rem;
    margin-bottom: -35px; }

  .titre_menu_1 {
    font-size: 1.5rem; }

  .barre_G1 {
    width: 120px;
    height: 20px;
    margin-top: 5px; }

  .barre_D1 {
    width: 120px;
    height: 20px;
    margin-top: 5px; }

  .entrees, .plats_principaux, .desserts {
    font-size: 1rem; }

  .noms {
    font-size: 0.8333333333rem;
    padding: 0px 15px; }

  .fin {
    padding-top: 0px;
    margin-top: -20px;
    font-size: 1rem; }

  .note_size_small {
    font-size: 2rem;
    padding-top: 15px;
    padding-right: 15px; } }
/* Version mobile small */
@media all and (min-width: 320px) and (max-width: 424px) {
  .M_Menu {
    width: 80%;
    padding: 5px; }

  .note_size1 {
    font-size: 2.6666666667rem;
    margin-bottom: -35px; }

  .titre_menu_1 {
    font-size: 1.5rem; }

  .barre_G1 {
    width: 80px;
    height: 20px;
    margin-top: 5px; }

  .barre_D1 {
    width: 80px;
    height: 20px;
    margin-top: 5px; }

  .entrees, .plats_principaux, .desserts {
    font-size: 1rem; }

  .noms {
    font-size: 0.8333333333rem;
    padding: 0px 10px; }

  .fin {
    padding-top: 0px;
    margin-top: -20px;
    font-size: 1rem; }

  .note_size_small {
    font-size: 2rem;
    padding-top: 5px;
    padding-right: 15px; } }
.G_M2 {
  font-family: 'Playfair Display', serif;
  width: 100%; }

.le_chic {
  text-align: center;
  margin-top: 35px; }

.titre_menu_2 {
  font-size: 2rem;
  font-family: 'Amita', cursive;
  background: #ed8c18;
  background: -webkit-linear-gradient(to left, #8f5aff, #ed8c18);
  background: linear-gradient(to left, #8f5aff, #ed8c18);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.box_barres2 {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; }

.entrees2, .plats_principaux2, .desserts2 {
  font-size: 1.2rem;
  width: 100%; }

.entrees2 {
  color: #c67412; }

.plats_principaux2 {
  color: #a56799; }

.desserts2 {
  color: #6e4ccc; }

.intitule2 {
  position: relative;
  padding-bottom: 5px; }

.intitule2:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(217deg, #8f5aff, #ed8c18 70.71%);
  visibility: hidden;
  transition: all 0.3s ease-in-out; }

.intitule2:hover:before {
  visibility: visible;
  width: 100%; }

.barre_G2 {
  width: 360px;
  height: 11px;
  margin-top: 5px;
  padding-bottom: 5px; }

.barre_D2 {
  width: 360px;
  height: 11px;
  margin-top: 5px;
  padding-bottom: 5px; }

/* Desktop */
@media all and (min-width: 1600px) and (max-width: 1900px) {
  .G_M2 {
    width: 100%; }

  .barre_G2 {
    width: 340px;
    height: 11px;
    margin-top: 5px; }

  .barre_D2 {
    width: 340px;
    height: 11px;
    margin-top: 5px; } }
/* Desktop mid */
@media all and (min-width: 1440px) and (max-width: 1599px) {
  .G_M2 {
    width: 100%; }

  .barre_G2 {
    width: 240px;
    height: 10px;
    margin-top: 5px; }

  .barre_D2 {
    width: 240px;
    height: 10px;
    margin-top: 5px; } }
/* Desktop small */
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .box_barres2 {
    margin-bottom: 20px; }

  .barre_G2 {
    width: 230px;
    height: 10px;
    margin-top: 5px; }

  .barre_D2 {
    width: 230px;
    height: 10px;
    margin-top: 5px; } }
/* Desktop XS */
@media all and (min-width: 1024px) and (max-width: 1279px) {
  .box_barres2 {
    margin-bottom: 20px; }

  .barre_G2 {
    width: 180px;
    height: 10px;
    margin-top: 5px; }

  .barre_D2 {
    width: 180px;
    height: 10px;
    margin-top: 5px; } }
/* Version tablette */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .barre_G2 {
    width: 135px;
    height: 9px;
    margin-top: 5px; }

  .barre_D2 {
    width: 135px;
    height: 9px;
    margin-top: 5px; }

  .entrees2, .plats_principaux2, .desserts2 {
    font-size: 1rem; } }
/* Version tablette mid */
@media all and (min-width: 651px) and (max-width: 767px) {
  .titre_menu_2 {
    font-size: 1.5rem; }

  .barre_G2 {
    width: 150px;
    height: 8px;
    margin-top: 5px; }

  .barre_D2 {
    width: 150px;
    height: 8px;
    margin-top: 5px; } }
/* Version tablette small */
@media all and (min-width: 551px) and (max-width: 650px) {
  .titre_menu_2 {
    font-size: 1.5rem; }

  .barre_G2 {
    width: 130px;
    height: 8px;
    margin-top: 5px; }

  .barre_D2 {
    width: 130px;
    height: 8px;
    margin-top: 5px; } }
/* Version mobile */
@media all and (min-width: 425px) and (max-width: 550px) {
  .titre_menu_2 {
    font-size: 1.5rem; }

  .barre_G2 {
    width: 110px;
    height: 7px;
    margin-top: 5px; }

  .barre_D2 {
    width: 110px;
    height: 7px;
    margin-top: 5px; }

  .entrees2, .plats_principaux2, .desserts2 {
    font-size: 1rem; } }
/* Version mobile small */
@media all and (min-width: 320px) and (max-width: 424px) {
  .titre_menu_2 {
    font-size: 1.5rem; }

  .barre_G2 {
    width: 70px;
    height: 6px;
    margin-top: 5px; }

  .barre_D2 {
    width: 70px;
    height: 6px;
    margin-top: 5px; }

  .entrees2, .plats_principaux2, .desserts2 {
    font-size: 1rem; } }
.G_M3 {
  width: 100%; }

.le_delice {
  text-align: center;
  margin-top: 35px; }

.titre_menu_3 {
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;
  background: #0229dd;
  background: -webkit-linear-gradient(to left, #2c99fb, #2c99fb, #0229dd);
  background: linear-gradient(to left, #2c99fb, #2c99fb, #0229dd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.intitule3 {
  position: relative; }

.intitule3:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(217deg, #2c99fb, #0229dd 70.71%);
  visibility: hidden;
  transition: all 0.3s ease-in-out; }

.intitule3:hover:before {
  visibility: visible;
  width: 100%; }

.barre_G3 {
  width: 360px;
  height: 50px;
  margin-top: 5px; }

.barre_D3 {
  width: 360px;
  height: 50px;
  margin-top: 5px; }

/* Desktop */
@media all and (min-width: 1600px) and (max-width: 1900px) {
  .G_M3 {
    width: 100%; }

  .barre_G3 {
    width: 340px;
    height: 50px;
    margin-top: 5px; }

  .barre_D3 {
    width: 340px;
    height: 50px;
    margin-top: 5px; } }
/* Desktop mid */
@media all and (min-width: 1440px) and (max-width: 1599px) {
  .G_M3 {
    width: 100%; }

  .barre_G3 {
    width: 240px;
    height: 50px;
    margin-top: 5px; }

  .barre_D3 {
    width: 240px;
    height: 50px;
    margin-top: 5px; } }
/* Desktop small */
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .barre_G3 {
    width: 230px;
    height: 45px;
    margin-top: 5px; }

  .barre_D3 {
    width: 230px;
    height: 45px;
    margin-top: 5px; } }
/* Desktop XS */
@media all and (min-width: 1024px) and (max-width: 1279px) {
  .barre_G3 {
    width: 180px;
    height: 40px;
    margin-top: 5px; }

  .barre_D3 {
    width: 180px;
    height: 40px;
    margin-top: 5px; } }
/* Version tablette */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .barre_G3 {
    width: 135px;
    height: 35px;
    margin-top: 5px; }

  .barre_D3 {
    width: 135px;
    height: 35px;
    margin-top: 5px; } }
/* Version tablette mid */
@media all and (min-width: 651px) and (max-width: 767px) {
  .titre_menu_3 {
    font-size: 1.5rem; }

  .barre_G3 {
    width: 180px;
    height: 35px;
    margin-top: 5px; }

  .barre_D3 {
    width: 180px;
    height: 35px;
    margin-top: 5px; } }
/* Version tablette small */
@media all and (min-width: 551px) and (max-width: 650px) {
  .titre_menu_3 {
    font-size: 1.5rem; }

  .barre_G3 {
    width: 135px;
    height: 35px;
    margin-top: 5px; }

  .barre_D3 {
    width: 135px;
    height: 35px;
    margin-top: 5px; } }
/* Version mobile */
@media all and (min-width: 425px) and (max-width: 550px) {
  .titre_menu_3 {
    font-size: 1.5rem; }

  .barre_G3 {
    width: 115px;
    height: 30px;
    margin-top: 5px; }

  .barre_D3 {
    width: 115px;
    height: 30px;
    margin-top: 5px; } }
/* Version mobile small */
@media all and (min-width: 320px) and (max-width: 424px) {
  .titre_menu_3 {
    font-size: 1.5rem; }

  .barre_G3 {
    width: 85px;
    height: 30px;
    margin-top: 5px; }

  .barre_D3 {
    width: 85px;
    height: 30px;
    margin-top: 5px; } }
.G_M4 {
  width: 100%; }

.la_palette {
  text-align: center;
  margin-top: 35px; }

.titre_menu_4 {
  font-size: 2rem;
  font-family: 'Kaushan Script', cursive;
  background: #3e923a;
  background: -webkit-linear-gradient(to left, #beff7f, #3e923a);
  background: linear-gradient(to left, #beff7f, #3e923a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.intitule4 {
  position: relative; }

.intitule4:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(0.25turn, #beff7f, #3e923a, #beff7f);
  visibility: hidden;
  transition: all 0.3s ease-in-out; }

.intitule4:hover:before {
  visibility: visible;
  width: 100%; }

.barre_G4 {
  width: 365px;
  height: 50px;
  margin-top: 5px; }

.barre_D4 {
  width: 365px;
  height: 50px;
  margin-top: 5px; }

/* Desktop */
@media all and (min-width: 1600px) and (max-width: 1900px) {
  .G_M4 {
    width: 100%; }

  .barre_G4 {
    width: 340px;
    height: 50px;
    margin-top: 5px; }

  .barre_D4 {
    width: 340px;
    height: 50px;
    margin-top: 5px; } }
/* Desktop mid */
@media all and (min-width: 1440px) and (max-width: 1599px) {
  .G_M4 {
    width: 100%; }

  .barre_G4 {
    width: 240px;
    height: 50px;
    margin-top: 5px; }

  .barre_D4 {
    width: 240px;
    height: 50px;
    margin-top: 5px; } }
/* Desktop small */
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .barre_G4 {
    width: 230px;
    height: 50px;
    margin-top: 5px; }

  .barre_D4 {
    width: 230px;
    height: 50px;
    margin-top: 5px; } }
/* Desktop XS */
@media all and (min-width: 1024px) and (max-width: 1279px) {
  .barre_G4 {
    width: 180px;
    height: 45px;
    margin-top: 5px; }

  .barre_D4 {
    width: 180px;
    height: 45px;
    margin-top: 5px; } }
/* Version tablette */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .barre_G4 {
    width: 140px;
    height: 35px;
    margin-top: 5px; }

  .barre_D4 {
    width: 140px;
    height: 35px;
    margin-top: 5px; } }
/* Version tablette mid */
@media all and (min-width: 651px) and (max-width: 767px) {
  .titre_menu_4 {
    font-size: 1.5rem; }

  .barre_G4 {
    width: 180px;
    height: 35px;
    margin-top: 5px; }

  .barre_D4 {
    width: 180px;
    height: 35px;
    margin-top: 5px; } }
/* Version tablette small */
@media all and (min-width: 551px) and (max-width: 650px) {
  .titre_menu_4 {
    font-size: 1.5rem; }

  .barre_G4 {
    width: 135px;
    height: 35px;
    margin-top: 5px; }

  .barre_D4 {
    width: 135px;
    height: 35px;
    margin-top: 5px; } }
/* Version mobile */
@media all and (min-width: 425px) and (max-width: 550px) {
  .titre_menu_4 {
    font-size: 1.5rem; }

  .barre_G4 {
    width: 115px;
    height: 30px;
    margin-top: 5px; }

  .barre_D4 {
    width: 115px;
    height: 30px;
    margin-top: 5px; } }
/* Version mobile small */
@media all and (min-width: 320px) and (max-width: 424px) {
  .titre_menu_4 {
    font-size: 1.5rem; }

  .barre_G4 {
    width: 90px;
    height: 30px;
    margin-top: 5px; }

  .barre_D4 {
    width: 90px;
    height: 30px;
    margin-top: 5px; } }

/*# sourceMappingURL=main.css.map */
