header
{
	width: 100%;
	height: 100px;
	color: $textcolor-primary;
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
    align-items: center;
	text-align: center;
	font-weight: bold;
	background-color: $colorbackground-primary;
	margin: auto;
}

/* Version mobile */
@media all and (max-width: 767px)
{
	header
	{
		height: 80px;
	}
}