.G_M3
{
	width: 100%;	
}

.le_delice
{
	text-align: center;
	margin-top: 35px;
}

.titre_menu_3
{
	font-size: nth($font-size, 2);
	font-family: 'Dancing Script', cursive;
	@include font-color_m3();
}

.intitule3
{
    position: relative;
}

.intitule3:before
{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    @include underline-color3();
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.intitule3:hover:before
{
    visibility: visible;
    width: 100%;
}

.barre_G3
{
    width: 360px;
    height: 50px;
    margin-top: 5px;
}

.barre_D3
{
    width: 360px;
    height: 50px;
    margin-top: 5px;
}

/* Desktop */
@media all and (min-width: 1600px) and (max-width: 1900px)
{
    .G_M3
    {
        width: 100%;
    }

    .barre_G3
    {
        width: 340px;
        height: 50px;
        margin-top: 5px;
    }

    .barre_D3
    {
        width: 340px;
        height: 50px;
        margin-top: 5px;
    }
}

/* Desktop mid */
@media all and (min-width: 1440px) and (max-width: 1599px)
{
    .G_M3
    {
        width: 100%;
    }

    .barre_G3
    {
        width: 240px;
        height: 50px;
        margin-top: 5px;
    }

    .barre_D3
    {
        width: 240px;
        height: 50px;
        margin-top: 5px;
    }
}

/* Desktop small */
@media all and (min-width: 1280px) and (max-width: 1439px)
{
    .box_barres
    {
        margin-bottom: 20px;
    }

    .barre_G3
    {
        width: 230px;
        height: 45px;
        margin-top: 5px;
    }

    .barre_D3
    {
        width: 230px;
        height: 45px;
        margin-top: 5px;
    }
}

/* Desktop XS */
@media all and (min-width: 1024px) and (max-width: 1279px)
{
    .box_barres
    {
        margin-bottom: 20px;
    }

    .barre_G3
    {
        width: 180px;
        height: 40px;
        margin-top: 5px;
    }

    .barre_D3
    {
        width: 180px;
        height: 40px;
        margin-top: 5px;
    }

    .noms
    {
        font-size: $f-size_noms-plats/1.1;
    }
}

/* Version tablette */
@media all and (min-width: 768px) and (max-width: 1023px)
{
    .noms
    {
        flex-direction: column;
        font-size: $f-size_noms-plats/1.2;
    }

    .plat
    {
        margin-bottom: 30px;
        text-align: center;
    }

    .prix
    {
        margin-bottom: 40px;
        margin-top: -25px;
        margin-left: 0px;
        font-weight: bold;
    }

    .barre_G3
    {
        width: 135px;
        height: 35px;
        margin-top: 5px;
    }

    .barre_D3
    {
        width: 135px;
        height: 35px;
        margin-top: 5px;
    }

    .entrees, .plats_principaux, .desserts
    {
        font-size: nth($font-size, 4);
    }
}

/* Version tablette mid */
@media all and (min-width: 651px) and (max-width: 767px)
{
    .M_Menu
    {
        width: 80%;
        padding: 5px;
    }

    .titre_menu_3
    {
        font-size: nth($font-size, 3);
    }

    .barre_G3
    {
        width: 180px;
        height: 35px;
        margin-top: 5px;
    }

    .barre_D3
    {
        width: 180px;
        height: 35px;
        margin-top: 5px;
    }

    .entrees, .plats_principaux, .desserts
    {
        font-size: nth($font-size, 4);
    }
}

/* Version tablette small */
@media all and (min-width: 551px) and (max-width: 650px)
{
    .M_Menu
    {
        width: 80%;
        padding: 5px;
    }

    .titre_menu_3
    {
        font-size: nth($font-size, 3);
    }

    .barre_G3
    {
        width: 135px;
        height: 35px;
        margin-top: 5px;
    }

    .barre_D3
    {
        width: 135px;
        height: 35px;
        margin-top: 5px;
    }

    .entrees, .plats_principaux, .desserts
    {
        font-size: nth($font-size, 4);
    }
}

/* Version mobile */
@media all and (min-width: 425px) and (max-width: 550px)
{
    .M_Menu
    {
        width: 80%;
        padding: 5px;
    }

    .titre_menu_3
    {
        font-size: nth($font-size, 3);
    }

    .barre_G3
    {
        width: 115px;
        height: 30px;
        margin-top: 5px;
    }

    .barre_D3
    {
        width: 115px;
        height: 30px;
        margin-top: 5px;
    }

    .entrees, .plats_principaux, .desserts
    {
        font-size: nth($font-size, 4);
    }

    .noms
    {
        font-size: $f-size_noms-plats/1.2;
    }
}

/* Version mobile small */
@media all and (min-width: 320px) and (max-width: 424px)
{
    .M_Menu
    {
        width: 80%;
        padding: 5px;
    }

    .titre_menu_3
    {
        font-size: nth($font-size, 3);
    }

    .barre_G3
    {
        width: 90px;
        height: 30px;
        margin-top: 5px;
    }

    .barre_D3
    {
        width: 90px;
        height: 30px;
        margin-top: 5px;
    }

    .entrees, .plats_principaux, .desserts
    {
        font-size: nth($font-size, 4);
    }

    .noms
    {
        font-size: $f-size_noms-plats/1.2;
    }
}