.M_Menu
{
	width: $menu-width/2;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	&__num
	{
		margin-bottom: 150px;
		padding: 40px;
		box-shadow:  0px 0px 10px #c9c9c9;
	}
	&__num--1
	{
		background-color: $color-menu1;
		font-family: 'Kalam', cursive;
		color: #3d1319;
	}
	&__num--2
	{
		background-color: $color-menu2;
	}
	&__num--3
	{
		background-color: $color-menu3;
		font-family: 'Kalam', cursive;
	}
	&__num--4
	{
		background-color: $color-menu4;
		font-family: 'Kalam', cursive;
	}
}

.la_note
{
	text-align: center;
	margin-top: -15px;
}

.titre_menu_1
{
	font-size: nth($font-size, 2);
	font-family: 'Devonshire', cursive;
}

.box_barres
{
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
    align-items: center;
}

.intitule
{
	width: 60%;
}

.barre_G1
{
	width: 200px;
	height: 50px;
	margin-top: 5px;
}

.barre_D1
{
	width: 200px;
	height: 50px;
	margin-top: 5px;
}

.entrees, .plats_principaux, .desserts
{
	font-size: nth($font-size, 3);
	width: 100%;
}

.noms
{
	display: flex;
	justify-content: space-between;
	font-size: $f-size_noms-plats;
	padding: 0px 25px;
	margin-top: -20px;
}

.plat
{
	margin-bottom: 30px;
	text-align: left;
}

.prix
{
	margin-bottom: 30px;
	margin-left: 5px;
	font-weight: bold;
}

.fin
{
	display: inline-flex;
	padding-top: 20px;
	font-family: 'Devonshire', cursive;
	font-size: nth($font-size, 3);
}

.note_size_small
{
	font-size: 2.5rem;
	padding-top: 25px;
	padding-right: 15px;
}

/* Version tablette */
@media all and (max-width: 1024px)
{
	.M_M
	{
		width: $menu-width;
	}
}

/* Version mobile */
@media all and (max-width: 767px)
{
	.titre_menu_1
	{
		font-size: nth($font-size, 3);
	}

	.entrees, .plats_principaux, .desserts
	{
		font-size: nth($font-size, 4);
	}

	.noms
	{
		font-size: $f-size_noms-plats/1.2;
	}

	.fin
	{
		padding-top: 20px;
		font-size: nth($font-size, 4);
	}
}