.M_M2
{
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 150px;
	padding: 50px;
	background-color: $color-menu2;
	box-shadow:  0px 0px 10px #c9c9c9;
}

.G_M2
{
	font-family: 'Playfair Display', serif;
}

.le_chic
{
	text-align: center;
	margin-top: -15px;
}

.titre_menu_2
{
	font-size: nth($font-size, 2);
	font-family: 'Amita', cursive;
	@include font-color_m2h();
}

.titre2 
{
    text-align: center;
    position: relative;
}

.titre2:before 
{
    content: "";
    left: 0;
    right: 0;
    height: 3px;
    background: #c67412;
    position: absolute;
    top: calc(50% - 1px);
}

.titre2 span 
{
    display: inline-block;
    padding: 0 40px;
    background: $color-menu2;
    position: relative;
    z-index: 1;
    width: 285px;
}

.entrees2, .plats_principaux2, .desserts2
{
	font-size: nth($font-size, 3);
}

.entrees2
{
	color: #c67412;
}

.plats_principaux2
{
	color: #a56799;
}

.desserts2
{
	color: #6e4ccc;
}

.noms
{
	display: flex;
	justify-content: space-between;
	font-size: $f-size_noms-plats;
}

.plat
{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: $f-size_noms-plats;
}

.prix
{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: $f-size_noms-plats;
	font-weight: bold;
}