/*.G_M3
{
	@include font-color_m3v();	
}*/

.le_delice
{
	text-align: center;
	margin-top: -15px;
}

.titre_menu_3
{
	font-size: nth($font-size, 2);
	font-family: 'Dancing Script', cursive;
	@include font-color_m3();
}

.barre_G3
{
    width: 170px;
    height: 50px;
    margin-top: 5px;
}

.barre_D3
{
    width: 170px;
    height: 50px;
    margin-top: 5px;
}

/* Desktop 1440 */
@media all and (max-width: 1440px)
{
	.G_M3
	{
		width: 100%;
	}

	.intitule
	{
		width: 60%;
	}

	.barre_G3
	{
		width: 140px;
		height: 40px;
		margin-top: 5px;
	}

	.barre_D3
	{
		width: 140px;
		height: 40px;
		margin-top: 5px;
	}	
}

/* Desktop 1024 */
@media all and (max-width: 1339px)
{
	.box_barres
	{
	    margin-bottom: 20px;
	}

	.barre_G3
	{
		width: 145px;
		height: 35px;
		margin-top: 5px;
	}

	.barre_D3
	{
		width: 145px;
		height: 35px;
		margin-top: 5px;
	}

	.titre_menu_3
	{
		font-size: nth($font-size, 3);
	}
}

/* Version tablette */
@media all and (max-width: 768px)
{
	.barre_G3
	{
		width: 100px;
		height: 25px;
		margin-top: 5px;
	}

	.barre_D3
	{
		width: 100px;
		height: 25px;
		margin-top: 5px;
	}
}

/* Version mobile */
@media all and (max-width: 767px)
{
	.titre_menu_3
	{
		font-size: nth($font-size, 3);
	}

	.intitule
	{
		width: 50%;
	}

	.barre_G3
	{
		width: 70px;
		height: 20px;
		margin-top: 5px;
	}

	.barre_D3
	{
		width: 70px;
		height: 20px;
		margin-top: 5px;
	}

	.entrees, .plats_principaux, .desserts
	{
		font-size: nth($font-size, 4);
	}

	.noms
	{
		font-size: $f-size_noms-plats/1.2;
	}
}