.main1
{
	width: 60%;
}

.G_M1
{
	width: 100%;
}

.M_Menu
{
	width: $menu-width/2;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	&__num
	{
		margin-bottom: 150px;
		padding: 40px;
		box-shadow:  0px 0px 10px #c9c9c9;
	}
	&__num--1
	{
		background-color: $color-menu1;
		font-family: 'Kalam', cursive;
		color: $color-font1;
	}
	&__num--2
	{
		background-color: $color-menu2;
	}
	&__num--3
	{
		background-color: $color-menu3;
		font-family: 'Kalam', cursive;
	}
	&__num--4
	{
		background-color: $color-menu4;
		font-family: 'Kalam', cursive;
	}
}

.la_note
{
	text-align: center;
	margin-top: 35px;
}

.note_size1
{
	font-size: nth($font-size, 1);
	margin-bottom: -40px;
}

.titre_menu_1
{
	font-size: nth($font-size, 2);
	font-family: 'Devonshire', cursive;
}

.box_barres
{
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}

.intitule1
{
	position: relative;
}

.intitule1:before
{
	content: "";
  	position: absolute;
	width: 0;
	height: 3px;
	bottom: 0;
	left: 0;
	background-color: $color-font1;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

.intitule1:hover:before
{
	visibility: visible;
  	width: 100%;
}

.barre_G1
{
	width: 200px;
	height: 50px;
	margin-top: 5px;
}

.barre_D1
{
	width: 200px;
	height: 50px;
	margin-top: 5px;
}

.entrees, .plats_principaux, .desserts
{
	font-size: nth($font-size, 3);
	width: 100%;
}

.noms
{
	display: flex;
	justify-content: space-between;
	font-size: $f-size_noms-plats;
	padding: 0px 25px;
	margin-top: -20px;
}

.plat
{
	margin-bottom: 30px;
	text-align: left;
}

.prix
{
	margin-bottom: 30px;
	margin-left: 10px;
	font-weight: bold;
}

.fin
{
	display: inline-flex;
	padding-top: 20px;
	font-family: 'Devonshire', cursive;
	font-size: nth($font-size, 3);
}

.note_size_small
{
	font-size: 2.5rem;
	padding-top: 25px;
	padding-right: 15px;
}

/* Desktop 1440 */
@media all and (max-width: 1440px)
{
	.main1
	{
		width: 70%;
	}

	.G_M1
	{
		width: 100%;
	}
}

/* Desktop 1024 */
@media all and (max-width: 1339px)
{
	.main1
	{
		width: 90%;
	}

	.box_barres
	{
	    margin-bottom: 20px;
	}

	.barre_G1
	{
		width: 170px;
		height: 40px;
		margin-top: 5px;
	}

	.barre_D1
	{
		width: 170px;
		height: 40px;
		margin-top: 5px;
	}

	.titre_menu_1
	{
		font-size: nth($font-size, 3);
	}

	.entrees, .plats_principaux, .desserts
	{
		font-size: nth($font-size, 4);
	}

	.noms
	{
		font-size: $f-size_noms-plats/1.1;
	}
}

/* Version tablette */
@media all and (max-width: 768px)
{
	.noms
	{
		flex-direction: column;
	}

	.plat
	{
		margin-bottom: 30px;
		text-align: center;
	}

	.prix
	{
		margin-bottom: 40px;
		margin-top: -25px;
		margin-left: 0px;
		font-weight: bold;
	}

	.main1
	{
		width: 90%;
	}

	.barre_G1
	{
		width: 110px;
		height: 25px;
		margin-top: 5px;
	}

	.barre_D1
	{
		width: 110px;
		height: 25px;
		margin-top: 5px;
	}
}

/* Version mobile */
@media all and (max-width: 767px)
{
	.M_Menu
	{
		width: 80%;
		padding: 5px;
	}

	.main1
	{
		width: 100%;
	}

	.note_size1
	{
		font-size: nth($font-size, 1)/1.5;
		margin-bottom: -35px;
	}

	.titre_menu_1
	{
		font-size: nth($font-size, 3);
	}

	.barre_G1
	{
		width: 65px;
		height: 20px;
		margin-top: 5px;
	}

	.barre_D1
	{
		width: 65px;
		height: 20px;
		margin-top: 5px;
	}

	.entrees, .plats_principaux, .desserts
	{
		font-size: nth($font-size, 4);
	}

	.noms
	{
		font-size: $f-size_noms-plats/1.2;
	}

	.fin
	{
		padding-top: 0px;
		margin-top: -20px;
		font-size: nth($font-size, 4);
	}

	.note_size_small
	{
		font-size: 2rem;
		padding-top: 15px;
		padding-right: 15px;
	}
}