/*.G_M3
{
	@include font-color_m3v();	
}*/

.le_delice
{
	text-align: center;
	margin-top: -15px;
}

.titre_menu_3
{
	font-size: nth($font-size, 2);
	font-family: 'Dancing Script', cursive;
	@include font-color_m3();
}

.barre_G3
{
    width: 170px;
    height: 50px;
    margin-top: 5px;
}

.barre_D3
{
    width: 170px;
    height: 50px;
    margin-top: 5px;
}