.G_M2
{
	font-family: 'Playfair Display', serif;
}

.le_chic
{
	text-align: center;
	margin-top: -15px;
}

.titre_menu_2
{
	font-size: nth($font-size, 2);
	font-family: 'Amita', cursive;
	@include font-color_m2h();
}

.box_barres2
{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.entrees2, .plats_principaux2, .desserts2
{
	font-size: 1.2rem;
    width: 100%;
}

.entrees2
{
	color: #c67412;
}

.plats_principaux2
{
	color: #a56799;
}

.desserts2
{
	color: #6e4ccc;
}

.intitule2
{
    position: relative;
    padding-bottom: 5px;
}

.intitule2:before
{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    @include underline-color2();
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.intitule2:hover:before
{
    visibility: visible;
    width: 100%;
}

.barre_G2
{
    width: 150px;
    height: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
}

.barre_D2
{
    width: 150px;
    height: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
}

/* Desktop 1440 */
@media all and (max-width: 1440px)
{
    .G_M2
    {
        width: 100%;
    }

    .barre_G2
    {
        width: 140px;
        height: 10px;
        margin-top: 5px;
    }

    .barre_D2
    {
        width: 140px;
        height: 10px;
        margin-top: 5px;
    }
}

/* Desktop 1024 */
@media all and (max-width: 1339px)
{
    .box_barres2
    {
        margin-bottom: 20px;
    }

    .barre_G2
    {
        width: 120px;
        height: 10px;
        margin-top: 5px;
    }

    .barre_D2
    {
        width: 120px;
        height: 10px;
        margin-top: 5px;
    }

    .titre_menu_2
    {
        font-size: nth($font-size, 3);
    }

    .entrees2, .plats_principaux2, .desserts2
    {
        font-size: nth($font-size, 4);
    }
}

/* Version tablette */
@media all and (max-width: 768px)
{
    .entrees2, .plats_principaux2, .desserts2
    {
        font-size: 1rem;
    }

    .barre_G2
    {
        width: 80px;
        height: 6px;
        margin-top: 5px;
    }

    .barre_D2
    {
        width: 80px;
        height: 6px;
        margin-top: 5px;
    }
}

/* Version mobile */
@media all and (max-width: 767px)
{
    .titre_menu_2
    {
        font-size: nth($font-size, 3);
    }

    .barre_G2
    {
        width: 50px;
        height: 5px;
        margin-top: 5px;
    }

    .barre_D2
    {
        width: 50px;
        height: 5px;
        margin-top: 5px;
    }

    .entrees2, .plats_principaux2, .desserts2
    {
        font-size: nth($font-size, 4);
    }

    .noms
    {
        font-size: $f-size_noms-plats/1.2;
    }
}