/* Pour le menu 1 */
@mixin note-color_m1()
{
    background: #e3515d;
    background: -webkit-linear-gradient(to left, #fda07c, #e3515d);
    background: linear-gradient(to left, #fda07c, #e3515d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Pour le menu 2 */
@mixin font-color_m2h()
{
	background: #ed8c18;
    background: -webkit-linear-gradient(to left, #8f5aff, #ed8c18);
    background: linear-gradient(to left, #8f5aff, #ed8c18);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin underline-color2()
{
    background: linear-gradient(217deg, #8f5aff, #ed8c18 70.71%)
}

/* Pour le menu 3 */
@mixin font-color_m3()
{
	background: #0229dd;
    background: -webkit-linear-gradient(to left, #2c99fb, #2c99fb, #0229dd);
    background: linear-gradient(to left, #2c99fb, #2c99fb, #0229dd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin underline-color3()
{
    background: linear-gradient(217deg, #2c99fb, #0229dd 70.71%)
}

/* Pour le menu 4 */
@mixin font-color_m4()
{
	background: #3e923a;
    background: -webkit-linear-gradient(to left, #beff7f, #3e923a);
    background: linear-gradient(to left, #beff7f, #3e923a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin underline-color4()
{
    background: linear-gradient(0.25turn, #beff7f, #3e923a, #beff7f);
}