/* Pour le menu 1 */
@mixin note-color_m1()
{
    background: $color-note1;
    background: -webkit-linear-gradient(to left, $color-note2, $color-note1);
    background: linear-gradient(to left, $color-note2, $color-note1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Pour le menu 2 */
@mixin font-color_m2h()
{
	background: $gradient-m2l;
    background: -webkit-linear-gradient(to left, $gradient-m2r, $gradient-m2l);
    background: linear-gradient(to left, $gradient-m2r, $gradient-m2l);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin underline-color2()
{
    background: linear-gradient(217deg, $gradient-m2r, $gradient-m2l 70.71%)
}

/* Pour le menu 3 */
@mixin font-color_m3()
{
	background: $gradient-m3l;
    background: -webkit-linear-gradient(to left, $gradient-m3r, $gradient-m3r, $gradient-m3l);
    background: linear-gradient(to left, $gradient-m3r, $gradient-m3r, $gradient-m3l);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin underline-color3()
{
    background: linear-gradient(217deg, $gradient-m3r, $gradient-m3l 70.71%)
}

/* Pour le menu 4 */
@mixin font-color_m4()
{
	background: $gradient-m4l;
    background: -webkit-linear-gradient(to left, $gradient-m4r, $gradient-m4l);
    background: linear-gradient(to left, $gradient-m4r, $gradient-m4l);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin underline-color4()
{
    background: linear-gradient(0.25turn, $gradient-m4r, $gradient-m4l, $gradient-m4r);
}