/* Pour le menu 1 */
@mixin note-color_m1()
{
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #e3515d), color-stop(0.85, #fda07c));
    background-image: gradient( linear, left top, right top, color-stop(0, #e3515d), color-stop(0.85, #fda07c));
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* Pour le menu 2 */
@mixin font-color_m2h()
{
	background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #e38a12), color-stop(0.85, #8f5aff));
    background-image: gradient( linear, left top, right top, color-stop(0, #e38a12), color-stop(0.85, #8f5aff));
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@mixin font-color_m2v()
{
	background-image: -webkit-gradient( linear, center top, center bottom, color-stop(0, #ed8c18), color-stop(0.95, #8f5aff));
    background-image: gradient( linear, center top, center bottom, color-stop(0, #ed8c18), color-stop(0.95, #8f5aff));
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* Pour le menu 3 */
@mixin font-color_m3()
{
	background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #0229dd), color-stop(0.85, #2c99fb));
    background-image: gradient( linear, left top, right top, color-stop(0, #0229dd), color-stop(0.85, #2c99fb));
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@mixin font-color_m3v()
{
	background-image: -webkit-gradient( linear, center top, center bottom, color-stop(0, #0229dd), color-stop(0.95, #2c99fb));
    background-image: gradient( linear, center top, center bottom, color-stop(0, #0229dd), color-stop(0.95, #2c99fb));
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* Pour le menu 4 */
@mixin font-color_m4()
{
	background-image: -webkit-gradient( linear, left top, right bottom, color-stop(0, #3e923a), color-stop(0.85, #beff7f));
    background-image: gradient( linear, left top, right bottom, color-stop(0, #3e923a), color-stop(0.85, #beff7f));
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@mixin font-color_m4v()
{
	background-image: -webkit-gradient( linear, center top, center bottom, color-stop(0, #3e923a), color-stop(0.95, #beff7f));
    background-image: gradient( linear, center top, center bottom, color-stop(0, #3e923a), color-stop(0.95, #beff7f));
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}