/* Couleurs des header et footer */
$textcolor-primary: #fdcb46;
$colorbackground-primary: #579c87;
/* Couleurs des fonds pour les menus */
$color-menu1: #fcdfdb;
$color-menu2: #fff5fe;
$color-menu3: #f9f9f9;
$color-menu4: #fdfffd;
/* Couleurs des polices pour le mot "menu" */
$color-font1: #3d1319;
$color-font2: #c77412;
$color-font3: #0887fb;
$color-font4: #7bc361;
/* Couleurs pour la note de musique */
$color-note1: #e3515d;
$color-note2: #fda07c;
/* Couleurs pour les gradients */
$gradient-m2l: #ed8c18;
$gradient-m2r: #8f5aff;
$gradient-m3l: #0229dd;
$gradient-m3r: #2c99fb;
$gradient-m4l: #3e923a;
$gradient-m4r: #beff7f;
/* Couleurs spécifiques au menu2 */
$color-entree2: #c67412;
$color-plat2: #a56799;
$color-dessert2: #6e4ccc;

$font-size: 4rem 2rem 1.5rem 1rem 0.5rem;
$f-size_noms-plats: 1rem;
$padding-dimensions: 10rem 5rem 2rem 1rem;
$menu-width: 100%;