$colorbackground-primary: #579c87;
$color-menu1: #fcdfdb;
$color-menu2: #fff5fe;
$color-menu3: #f9f9f9;
$color-menu4: #fdfffd;
$textcolor-primary: #fdcb46;

$font-size: 4rem 2rem 1.5rem 1rem 0.5rem;
$f-size_noms-plats: 1.1rem;
$padding-dimensions: 10rem 5rem 2rem 1rem;